.main-section {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 124px;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.top-sec-wrap {
  padding-top: 680px;
  position: relative;
  transition: 0.3s;
  visibility: visible;
  height: 100%;
  width: 100%;
}
.bg-wrap-outer {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  transition: 0.3s;
}
.bg-wrap-outer::after {
  background: linear-gradient(135deg,rgba(52,82,255,0.94) 0%,rgba(46,211,151,0.71) 100%);
  opacity: 0.95;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  z-index: 2;
  transition: 0.3s;
}
.bg-wrap-inner {
  transition: transform 0.95s 0s cubic-bezier(0.3,0.58,0.42,0.9);
  transform: scale(1) translateZ(0);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
.bg-div {
  background-image: url('../../../assets/study.jpg');
  /* background-position: left top; */
  background-repeat: no-repeat;
  background-color: rgb(52, 82, 255);
  transform: translate3d(0px, 40px, 0px) scale(1.005, 1.005);
  height: 827px;
  background-attachment: scroll;
  top: auto;
  bottom: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  background-size: cover;
  width: 100%;
}
.shape-wrap {
  height: 350px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  transform: translateZ(0);
}

.nectar-shape {
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  fill: #fff;
}
.nectar-shape path:nth-child(1) {
  opacity: 0.15;
}
.nectar-shape path:nth-child(2) {
  opacity: 0.3;
}
.motto-wrap {
  margin-top: -50px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
  z-index: 10;
  display: flex;
  align-items: center;
  padding-left: 90px;
  transition: 0.3s;
}
.motto-text {
  font-size: 40px;
  color: #fff;
  width: 45%;
  line-height: 50px;
  transition: 0.3s;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 80px;
}
.main-discover {
  position: relative;
  display: inline-block;
  color: rgb(255, 255, 255);
  border: 2px solid rgba(255,255,255,0.75);
  background-color: transparent;
  border-radius: 4px;
  transition: all .45s cubic-bezier(0.25,1,0.33,1);
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
  padding: 20px 50px;
  cursor: pointer;
}
.main-discover:hover {
  transform: translateY(-7px);
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  color: #000;
}
.main-discover span {
  transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1);
  transform: translateX(0);
  letter-spacing: 1px;
}
