
<div class="head">
  <div class="head-fixed">
    <div class="head-fixed-inner">
      <div class="head-inner">
        <div class="logo">
          <a href="#"><img style="height: 55px;" src="../../../../assets/logo-020823.png" alt=""></a>

        </div>
        <nav>
          <a href="#" class="links" [class.active]="getRoute()">
            Home
          </a>
          <a href="#" class="links">
            Services
          </a>
          <a href="#" class="links">
            Work
          </a>
          <a href="#" class="links">
            Contact
          </a>
        </nav>
        <div class="menu" (click)="toggleMenu()">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</div>
