<section>
  <div class="detail">
    <div class="detail-inner">
      <div class="left-detail fadeIn animated">
        <p>
          The company that connects other companies to connect with the people that matter.
        </p>
        <p>
          Codigo World is an educational consultancy
          and a software as a service (SaaS)
          company with a difference! Our singular passion,
          for assisting University Students,
          Fresh Graduates and Employers making well-informed choices,
          guides every service we provide.
        </p>
      </div>
      <div class="right-detail">
        <div class="service-wrap" *ngFor="let item of this.data">
          <app-about-service [data]="item"></app-about-service>
        </div>
      </div>
    </div>
  </div>
  <div class="mission">
    <div class="mission-inner slideInUp animated">
      <p>Company Mission</p>
      <p>Connect people with their passion, vision, and purpose</p>
    </div>
  </div>
  <div class="vision">
    <div class="vision-inner">
      <div class="left-vision">
        <div class="background">
          <!-- <p>Learning with and from the world</p> -->
        </div>
      </div>
      <div class="right-vision">
        <h3>Company Vision</h3>
        <div class="visions-wrap">
          <div class="each-vision" *ngFor="let vision of this.visions">
            <app-vision [title]="vision.title" [description]="vision.description"></app-vision>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>